<div class="top-ribbon">
    <span><i class="bi bi-truck"></i>Бесплатная доставка от 8 000 ₽</span>
    <span><i class="bi bi-music-note-beamed"></i>Настройка инструмента в подарок</span>
    <span><i class="bi bi-telephone"></i>8 800 456-78-90</span>
</div>

<nav class="navbar navbar-expand-lg navbar-dark site-nav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="brand-music">Музыка</span><span class="brand-market">Маркет</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-4 me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house-fill"></i> Главная
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/catalog">
                        <i class="bi bi-music-note-list"></i> Каталог
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/basket">
                        <i class="bi bi-bag"></i> Корзина
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/purchases">
                        <i class="bi bi-clock-history"></i> Покупки
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
